.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text{
  color: #777;
  padding-left: 30px;
  padding-right: 30px;
}
.btn {
  /* display: block; */
  width: 150px;
  /* padding: 30px, 0; */
  /* margin: 20px, auto; */
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  
}